# temporary files 
files/judge/*
files/log/*
files/player1/*
files/player2/*
files/result/*

# executable files
judges/scaffold/gameMaster
judges/scaffold/p1root/*
judges/scaffold/p2root/*

#clone folders
judges/judge*

*.DS_Store
*scaffold/.DS_Store

# Ignore docker file for now. Will include when needed
Dockerfile

# environment files
*.env

# log files
*log.txt

server/__pycache__/*
__pycache__

# environment file
server_env/*

.vscode/*
